header {
  height: 125px;
  line-height: 125px;
}

header h1 {
  line-height: 100px;
  padding-top: 25px;
}

main section {
  margin: auto;
}

main section div {
  height: 300px;
  width: 300px;
  margin: 10% auto;
}

/*  For desktop window sized */

@media (min-width: 750px) {
  main section {
    display: table;
  }

  main section div {
    float: left;
    margin: 30px 5%;
  }
}